.header {
  background-color: $light;
  &__row {
    display: flex;
    padding-top: 31px;
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    gap: 65px;
  }
  &__menu-item {
    @include font(14px, 16px, $brown);
  }

  &__icons {
    display: flex;
    gap: 23px;
  }

  &__link {
    position: relative;
  }

  &__icon {
  }

  &__like-count {
    position: absolute;
    width: 13px;
    height: 13px;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $coral-pink;
    @include font(8px, 9px, $graphite-black);
  }

  &__menu-burger {
    @media screen and (max-width: $tablet) {
      position: relative;
      width: 24px;
      height: 21px;
      display: block;
      margin: 0;
      cursor: pointer;
      transition: opacity 0.3s ease;
    }
    span {
      @extend %burger;
      @media screen and (max-width: $tablet) {
        top: 9px;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
    &::before {
      @extend %burger;
      @media screen and (max-width: $tablet) {
        content: "";
        top: 0;
        transition: 0.3s;
      }
    }
    &::after {
      @extend %burger;
      @media screen and (max-width: $tablet) {
        content: "";
        bottom: 0;
        transition: 0.3s;
      }
    }
    &:hover {
      @media screen and (hover: hover) and (pointer: fine) {
        opacity: 0.6;
      }
    }
  }
}
