.banner {
  margin-bottom: 79px;
  background-color: $light;
  overflow: hidden;
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 87px;
    padding-right: 100px;
    @media screen and (max-width: $tablet) {
      padding-left: 70px;
    }
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  &__info {
    padding-top: 236px;
    padding-bottom: 236px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $tablet) {
      padding-bottom: 100px;
    }
    @media screen and (max-width: $mobile) {
      padding-top: 40px;
      padding-bottom: 80px;
    }
  }
  &__title {
    position: relative;
    @include font(45px, 60px, $graphite-black, $regular, $playfair-display);
    margin-bottom: 16px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      cursor: default;
      width: 50px;
      height: 1px;
      background-color: $brown;
      left: -65px;
      top: 35px;
      @media screen and (max-width: $mobile) {
        width: 20px;
        left: -35px;
      }
    }
  }
  &__subtitle {
    @include font(30px, 40px, $graphite-black, $regular, $playfair-display);
    margin-bottom: 39px;
  }
  &__description {
    @include font(14px, 21px, $graphite-black-transparent82, $light);
    max-width: 258px;
    &:last-of-type {
      margin-bottom: 36px;
    }
  }
  &__button {
    background-color: $dark-brown;
  }
  &__figure {
    display: block;
    position: relative;
    width: 100%;
    max-width: 496px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -94px;
      left: -193px;
      width: 100%;
      height: 944px;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      background: mistyrose;
      background: linear-gradient(
        180deg,
        rgba(234, 227, 212, 0) 0%,
        #eae3d4 100%
      );
      mix-blend-mode: normal;
      @media screen and (max-width: $mobile) {
        height: 700px;
        left: -95px;
      }
    }
    @media screen and (max-width: $mobile) {
      align-self: center;
      max-width: 280px;
      height: 500px;
    }
  }
  &__image {
    display: block;
    position: absolute;
    width: 100%;
    top: -11px;
    bottom: -27px;
    background-image: url("../../images/watch_main.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__image-sign {
    position: absolute;
    top: 50px;
    left: -75px;
    @media screen and (max-width: $mobile) {
      left: -20px;
    }
    &::after {
      content: "";
      position: absolute;
      cursor: default;
      width: 50px;
      height: 1px;
      background-color: $brown;
      right: -82px;
      bottom: 11px;
      @media screen and (max-width: $mobile) {
        width: 20px;
        right: -52px;
      }
    }
  }

  &__image-price {
    position: relative;
    @include font(16px, 22px, $graphite-black, $regular, $prata);

    &::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 2px;
      display: block;
      width: 9.6px;
      height: 13px;
      background-image: url("../../images/ruble.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    @media screen and (max-width: $mobile) {
      font-size: 11px;
    }
  }
  &__image-description {
    position: absolute;
    bottom: 138px;
    right: -84px;
    @include font(16px, 22px, $graphite-black, $regular, $prata);

    &::before {
      content: "";
      position: absolute;
      display: block;
      cursor: default;
      width: 50px;
      height: 1px;
      background-color: $brown;
      left: -65px;
      bottom: 11px;
      @media screen and (max-width: $mobile) {
        width: 20px;
        left: -35px;
        font-size: 11px;
      }
    }
    @media screen and (max-width: $mobile) {
      font-size: 11px;
      right: -20px;
      bottom: 50px;
    }
  }
}
