//общие стили классы ля вссех элементов
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  font-family: "Roboto";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.container {
  max-width: 1366px;
  padding-left: 98px;
  padding-right: 98px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: $desktop) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: $mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  @include font(32px, 43px, $graphite-black, $regular, $playfair-display);
}

.description {
  @include font(16px, 27px, $dark-brown);
}

.button-catalog {
  width: 205px;
  height: 64px;
  text-align: center;
  @include font(12px, 14px, $white, $medium);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.hover-opacity {
  cursor: pointer;
  @extend %opacity;
  &:hover {
    opacity: 0.8;
  }
}
