$light: 400;
$regular: 400;
$medium: 500;
$bold: 700;

$desktop: 1150px;
$tablet: 1023px;
$mobile: 767px;

$roboto: "Roboto";
$playfair-display: "PlayfairDisplay";
$prata: "Prata";

$dark-brown: #444240;
$white: #fff;
$white-transparent75: rgba(255, 255, 255, 0.75);
$graphite-black: #1b1a17;
$graphite-black-transparent82: rgba(27, 26, 23, 0.82);
$light-gray: #c4c0b6;
$light-brown: #8b8371;
$decor: #f7f5ef;
$brown: #555248;
$light: #fdfdfb;
$peach: #d4b098;
$peach-transparent0: rgb(212, 176, 152, 0);
$decor-watch: #e2d0c4;
$decor-watch-transparent0: rgba(226, 208, 196, 0);
$coral-pink: #e6c8b4;
