$light: 400;
$regular: 400;
$medium: 500;
$bold: 700;

$desktop: 1150px;
$tablet: 1023px;
$mobile: 767px;

$roboto: "Roboto";
$playfair-display: "PlayfairDisplay";
$prata: "Prata";

$dark-brown: #444240;
$white: #fff;
$graphite-black: #1b1a17;
$graphite-black-transparent82: rgba(27, 26, 23, 0.82);
$white-transparent75: #fff;
$light-brown: #8b8371;
$brown: #555248;
$light: #fdfdfb;
