.logo {
  display: flex;
  align-items: center;
  gap: 2px;
  &__title {
    &_header {
      @include font(12px, 16px, $brown, $regular, $playfair-display);
    }
    &_footer {
      @include font(14px, 19px, $white, $bold, $playfair-display);
    }
  }
}
